.notificationCard {
  padding: 24px 10px;
  border: 1px solid rgba(175, 175, 175, 0.7);
  border-radius: 16px;
  margin-bottom: 15px;
  font-family: "ManropeNormal";
}

.content {
  display: flex;
  flex-grow: 1;
  padding: 0 10px;
}

.notificationCardTitle {
  font-weight: 800;
  font-size: 14px;
}

.notificationCardDescription,
.notificationCardTimestamp {
  font-weight: 500;
  font-size: 12px;
  color: #718096;
  display: block;
}

.separator {
  margin: 0 5px;
  display: none;
}

.amount {
  display: none;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.mobileAmount {
  display: block;
  padding-top: 15px;
  padding-left: 50px;
}

.mobileAmount span{
  font-size: 13px;
}

.debit,
.credit,
.deposit {
  padding: 8px 15px;
  border-radius: 6px;
}

.debit {
  background: #fff2f2;
  color: #ff1818;
}

.credit {
  color: #00b900;
  background: #e4ffe4;
}

.deposit {
  background: #e8edff;
  color: #194bfb;
}

@media (min-width: 992px) {
  .notificationCard {
    padding: 24px 40px;
  }

  .separator {
    display: inline-block;
  }

  .notificationCardDescription,
  .notificationCardTimestamp {
    display: inline-block;
  }

  .mobile-amount {
    display: none;
  }
}
