html,
body {
  padding: 0;
  margin: 0;
  font-family: "CircularBook";
}

@font-face {
  font-family: "CircularBold";
  src: url("/fonts/circular-bold.otf") format("truetype");
}

@font-face {
  font-family: "CircularMedium";
  src: url("/fonts/circular-medium.otf") format("truetype");
}

@font-face {
  font-family: "CircularBook";
  src: url("/fonts/circular-book.otf") format("truetype");
}

@font-face {
  font-family: "ManropeNormal";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primaryColor: #1d38e4;
  --secondaryColor: #fff;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #edf2f7 !important;
  border-radius: 2px;
}

.MuiTableCell-body {
  border-bottom: 1px solid #edf2f7;
}

.MuiToolbar-gutters {
  display: flex !important;
}

.tss-qbo1l6-MUIDataTableToolbar-actions {
  display: flex;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none;
}

.MuiSnackbarContent-root {
  background-color: var(--primaryColor) !important;
}

.MuiPaper-root {
  box-shadow: 8px 16px 32px rgba(113, 128, 150, 0.08) !important;
  border-radius: 12px !important;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: var(--primaryColor);
  text-decoration: none !important;
}

a.grey {
  color: #000b33;
  opacity: 0.7;
  text-decoration: none;
}

.btn {
  padding: 10px 33px;
  border-radius: 4px;
}

.btn-radius {
  border-radius: 12px;
}

.btn-primary {
  background: var(--primaryColor) !important;
  border-radius: 10px;
}

.btn-primary-outline {
  border: 1px solid var(--primaryColor) !important;
  color: var(--primaryColor) !important;
  border-radius: 10px;
}

.btn-dashboard-back {
  color: #718096;
  font-size: 800;
  border: 1px solid #e2e8f0;
  padding: 10px 45px;
  outline: none;
}

.burst-in {
  border: 1px solid var(--secondaryColor) !important;
  border: 4px;
  background: none;
  color: var(--secondaryColor) !important;
}

.blue-bg {
  background-color: var(--primaryColor) !important;
  background-image: url("/bg-desktop.png");
}

.page {
  padding: 60px 0;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.page-content {
  width: 98%;
  margin: auto;
}

.form-submit {
  margin-top: 30px;
  text-align: right;
}

.form-control {
  padding: 12px 14px !important;
  border: 1px solid #edf2f7 !important;
  border-radius: 10px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid #edf2f7 !important;
}

.css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 5px;
}

.MuiAutocomplete-input,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: 2px;
}

.form-control.error {
  border: 1px solid #EF1E1E !important;
}

.form-input.error svg {
  color: #EF1E1E !important;
}

.form-control.error input::placeholder,
.form-control.error .MuiInput-input,
.form-control.error::placeholder {
  color: #EF1E1E !important;
  opacity: 1;
}

.error-message {
  font-size: 13px;
  color: #EF1E1E;
  padding: 5px;
}

.form-control-2 input,
.form-control-select {
  padding: 10px 14px !important;
  border: 1px solid #edf2f7 !important;
  border-radius: 12px;
  outline: none;
}

input.pincode-input-text {
  width: 34px !important;
  height: 34px !important;
}

.verify-profile {
  color: #F60A0A;
  background: #FFF0F0;
  outline: none;
  border: 0;
  font-size: 14px;
  font-weight: 800;
  padding: 10px 25px;
  border-radius: 12px;
}

.verification-list {
  padding: 15px;
  border: 0.837963px solid #E2E8F0;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  background: white;
  width: 100%;
  outline: none;
  text-align: left;
}

.verification-list:disabled {
  opacity: 0.7;
}

.verification-list:hover,
.verification-list.done {
  border: 1px solid var(--primaryColor);
}

.verification-list .title {
  font-weight: bold;
}

.verification-list .description {
  color: #1A202C;
  font-size: 13px;
  opacity: 0.6
}

.verifications-tab button{
  width: 50%;
  padding: 10px;
  background-color: var(--secondaryColor);
  border: none;
  outline: none;
}

.verifications-tab button.active{
  background: rgba(243, 243, 244, 0.7);
  color: var(--primaryColor);
}

.form-control-select .MuiSelect-select {
  background: white !important;
  padding: 0;
}

.form-control-2 .MuiInput-root {
  border: 0 !important;
}

.custom-file-input {
  display: none;
}

.flex-select-menu-item {
  display: flex;
}

.flex-select-menu-item .text {
  display: flex;
  margin-left: 5px;
  padding-top: 1px;
  align-items: center;
}

.ui-select-menu {
  padding: 10px !important;
  margin: 2px 10px !important;
  background: white !important;
}

.ui-select-menu:hover {
  background: var(--primaryColor) !important;
  color: white;
  border-radius: 12px;
}

.ui-select-menu:not(:last-of-type) {
  border-bottom: 1px solid #e2e8f0;
}


.PhoneInputInput {
  outline: none;
  border: 0;
  padding-left: 8px;
}

.back-nav {
  cursor: pointer;
}

.pagination {
  justify-content: end;
}

.MuiTablePagination-root p {
  margin: 0;
}

.MuiPaginationItem-rounded.Mui-selected {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  background-color: var(--secondaryColor) !important;
  border-radius: 8px;
}

::-webkit-input-placeholder {
  color: #000b33 !important;
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.5 !important;
}

::-moz-placeholder {
  color: #000b33 !important;
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.5 !important;
}

::-ms-placeholder {
  color: #000b33 !important;
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.5 !important;
}

::placeholder {
  color: #000b32 !important;
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.5 !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 0;
}

.grey-icon {
  color: #000b33;
  opacity: 0.5;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus {
  background: none;
}

.page-content .headline {
  font-family: "CircularBold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000b33;
}

.page-content form {
  background-color: var(--secondaryColor);
  border: 2px solid #e31ed6;
  border-radius: 10px;
  padding: 40px 20px;
  margin-bottom: 80px;
}

.page-content .logo {
  margin: 0 auto 45px auto;
  display: block;
}

form label {
  font-family: "CircularMedium";
  font-size: 14px;
  color: #000b33;
  font-weight: 600, Semi Bold;
  opacity: 0.8;
}

.form-label {
  font-family: "ManropeNormal";
  font-weight: 800;
  font-size: 14px;
  color: #718096;
}

label+.css-1nbvhrz-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  margin: 0;
}

.page-content a {
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.page-content a.grey {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.page-content form .form-content {
  margin-top: 20px;
}

.user-verfied,
.user-verfied .headline {
  color: #fff !important;
}

.user-verfied .headnote {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.password-reset {
  padding: 20px;
  border-radius: 12px;
}

.password-reset>svg {
  width: 180px;
  height: 180px;
}

.password-reset .heading-note {
  color: #718096;
}

/* Dashboard */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: white;
  color: black;
}

.dashboard {
  font-family: "ManropeNormal";
}

.side-bar {
  background-color: #fafafa;
  position: fixed;
  height: 100%;
  padding: 25px 24px;
}

.desktop-side-bar {
  display: none;
  width: 250px;
}

.mobile-side-bar {
  display: block;
  width: 100%;
}

.close-mobile-side-bar button {
  background: none;
  outline: none;
  border: 0;
}

.side-bar .top-section {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e2e8f0;
}

.side-bar .menu-links {
  padding-top: 30px;
  height: calc(100% - 40px);
}

.side-bar .foot-content {
  position: absolute;
  bottom: 0;
  right: 24px;
  left: 24px;
  font-family: "ManropeNormal";
  padding-bottom: 20px;
}

.side-bar .foot-content .help-center {
  background: #1d38e4;
  border-radius: 14.125px;
  padding: 10px;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 7px;
}

.side-bar .foot-content .help-center .circle-icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  margin-top: -34px;
  position: relative;
  display: inline-block;
}

.side-bar .foot-content .help-center .circle-icon .inner {
  background-color: #1d38e4;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
}

.side-bar .foot-content .help-center .headline {
  font-style: normal;
  font-weight: 600;
  font-size: 16.95px;
  color: white;
}

.side-bar .foot-content .help-center .headline-note {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #ffffff;
}

.side-bar .foot-content .help-center a {
  display: block;
  background: #4762f0;
  border-radius: 9px;
  padding: 12px;
  color: white;
  margin: auto 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13.1833px;
}

.side-bar .menu-links ul li {
  list-style-type: none;
}

.side-bar .menu-links ul li:not(:first-of-type) {
  margin-top: 8px;
}

.side-bar .menu-links ul {
  margin: 0;
  padding: 0;
}

.side-bar .menu-links ul li a {
  display: block;
  border-radius: 12px;
  padding: 12px 15px;
  color: #718096;
  font-family: "ManropeNormal";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.side-bar .menu-links ul li a.active {
  background-color: #1d38e4;
  color: white;
  font-weight: 800;
}

.side-bar .menu-links ul li a span {
  display: inline-block;
  margin-left: 10px;
}

.header {
  padding: 20px 0;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 999;
}

.header .title {
  color: #1a202c;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-self: center;
}

.header .btn {
  border-radius: 12px;
  padding: 5px 20px;
  margin-right: 10px;
  font-weight: 630;
  font-size: 15px;
  height: 40px;
  outline: none;
}

.header .btn {
  border: 1px solid var(--primaryColor);
}

.header .notification-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ececec;
  outline: none;
}

.header .profile-menu {
  background: none;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
}

.header .profile-menu .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
}

.header .profile-menu .profile-name {
  color: #1a202c;
  font-weight: 600;
}

.header .mobile-menu-bar {
  display: flex;
  align-items: center;
}

.mobile-dashboard-page-title {
  display: block;
  font-size: 24px;
  color: #1a202c;
  font-weight: 800;
  padding: 0 0 20px 10px;
  margin: 10px 0;
}

.header .mobile-menu-bar button {
  background: none;
  outline: none;
  border: 0;
  margin: 0 10px;
}

#profile-menu ul {
  width: 200px;
  font-family: "ManropeNormal" !important;
}

#notifications-menu ul {
  width: 350px;
  font-family: "ManropeNormal" !important;
}

#notifications-menu .heading {
  padding: 10px 24px;
  border-bottom: 1px solid #edf2f7;
}

#notifications-menu .heading .text {
  font-weight: 800;
  font-size: 16px;
  font-family: "ManropeNormal";
  display: flex;
  align-items: center;
}

#notifications-menu #content {
  padding: 21px;
}

#notifications-menu #content .section-headline {
  font-weight: 700;
  font-size: 14px;
  color: #a4a7b3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#notifications-menu #content .notification {
  display: flex;
  margin-bottom: 15px;
}

#notifications-menu #content .notification .notification-image {
  width: 48px;
  height: 48px;
  background-size: cover;
  border-radius: 100%;
}

#notifications-menu #content .notification .notification-content {
  padding: 5px 12px;
}

#notifications-menu #content .notification .notification-heading {
  font-weight: 800;
  font-size: 15px;
}

#notifications-menu #content .notification .notification-note {
  color: #718096;
  font-weight: 550;
  font-size: 12px;
}

#notifications-menu #content .notification .notification-note .amount {
  color: #ff784b;
  font-weight: 600;
}

#notifications-menu #content .notification .notification-timestamp {
  color: #a0aec0;
  font-weight: 800;
  font-size: 12px;
  margin-top: 5px;
}

#notifications-menu #footer {
  display: flex;
  padding: 15px 24px;
  border-top: 1px solid #edf2f7;
}

#notifications-menu #footer div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#notifications-menu #footer a {
  font-weight: 800;
  font-size: 14px;
}

#profile-menu ul li {
  font-size: 14px;
  color: #1a202c;
  padding: 10px 13px;
}

#profile-menu ul li .menu-item {
  font-weight: 600 !important;
  font-size: 14px !important;
  font-family: "ManropeNormal" !important;
}

.profile-menu-name {
  padding: 0 15px 14px 15px;
  border-bottom: 1px solid #edf2f7;
}

.profile-menu-name .name {
  color: #1a202c;
  font-weight: 800;
  font-size: 16px;
}

.profile-menu-name .email {
  font-size: 12px;
  color: #718096;
}

.dashboard-content {
  width: 100%;
  background-color: #ffffff;
}

.dashboard-inner-content {
  padding-top: 100px;
}

.dashoard-overview-banner {
  background-color: var(--primaryColor);
  border-radius: 18px;
}

.dashoard-overview-banner.transparent {
  background: none;
  border: 1px solid #ccd3dd;
}

.dashoard-overview-banner .content {
  padding: 30px 25px;
}

.dashoard-overview-banner .title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  color: white;
}

.dashoard-overview-banner .note {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
}

.dashoard-overview-banner.transparent .title,
.dashoard-overview-banner.transparent .note {
  color: #000000;
}

.dashoard-overview-banner .cta {
  margin-top: 25px;
}

.dashboard-ctas {
  display: flex;
  text-align: center;
  margin: 25px 0;
  font-weight: 600;
}

.dashboard-ctas .cta-text {
  margin-top: 10px;
}

.dashboard-ctas button {
  background-color: var(--primaryColor);
  border-radius: 50%;
  outline: none;
  border: 0;
  width: 50px;
  height: 50px;
}

.box-section {
  border: 1px solid #edf2f7;
  border-radius: 16px;
  padding: 28px 24px;
}

.box-section .title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.balance-card {
  background: var(--primaryColor);
  padding: 24px;
  border-radius: 16px;
}

.balance-card .balance .heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.8;
  color: #fff;
}

.balance-card .balance .amount {
  color: #ffffff;
  font-weight: 800;
  font-size: 24px;
}

.box-section .ctas {
  font-size: 12px;
}

.box-section .head .view-all {
  background: #fafafa;
  color: #1a202c;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  padding: 8px 18px;
  border-radius: 8px;
}

.box-section .cta {
  border: 1px solid #edf2f7;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  color: #718096;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.box-section .cta-text {
  text-align: center;
  margin-top: 10px;
}

.portfolio-list {
  padding: 10px 0;
  border-bottom: 1px solid #edf2f7;
  cursor: pointer;
}

.portfolio-list .coin-name {
  color: #2e2c34;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}

.portfolio-list .percentage-change {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.portfolio-list .percentage-change.green {
  color: #0abe64;
}

.portfolio-list .percentage-change.red {
  color: #eb5757;
}

.portfolio-list .coin-balance {
  color: #2e2c34;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
}

.portfolio-list .fiat-balance {
  color: #83879b;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.portfolio-list .right {
  width: 80px;
}

.transaction-description {
  color: #1a202c !important;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 14px;
  line-height: 150%;
}

.transaction-status {
  padding: 5px 13px;
  font-size: 12px;
  border-radius: 8px;
}

.transaction-status.credit {
  background: #f6fdf9;
  color: #22c55e;
}

.transaction-status.debit {
  background: #FFF2F2;
  color: #FF1818;
}

.transaction-amount {
  color: #1a202c;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
}

.dialog-page .heading {
  color: #1a202c;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
}

.dialog-page .dialog-header {
  display: flex;
  padding: 20px 15px;
  border-bottom: 1px solid #edf2f7;
}

.dialog-page .content.padding {
  padding: 0 20px;
}

.dialog-page .dialog-header .title {
  display: flex;
  flex-grow: 1;
  color: #1a202c;
  font-weight: 500;
  font-size: 18px;
}

.dialog-page .dialog-header button {
  background: none;
  outline: none;
  border: 0;
}

.dialog-page .heading-note {
  color: #718096;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.dialog-page .content {
  margin-top: 15px;
}

.dialog-page .transaction-fee {
  color: #2972ff;
  font-weight: 500;
  font-size: 13.1228px;
  margin-top: 15px;
  text-align: center;
}

.dialog-page .transaction-fee span {
  background: #d7dcff;
  border-radius: 7.7193px;
  padding: 15px 20px;
  display: inline-block;
  margin: auto;
}

.dialog-close {
  text-align: right;
}

.dialog-close button {
  background: none;
  border: none;
  outline: none;
}

.swap-coin-circle-icon {
  box-shadow: 0px 3.57143px 22.3214px rgba(0, 0, 0, 0.08);
  display: inline-block;
  background: white;
  padding: 9px 8px;
  border-radius: 50%;
}

.transfer-currency {
  display: inline-block;
  color: #1a202c;
  margin-left: 8px;
  font-weight: 800;
  font-size: 14px;
}

.transfer-name-confirmation {
  padding: 8px 28px;
  border: 1px solid var(--primaryColor);
  border-radius: 20px;
  display: inline-block;
  margin: 10px 0;
}

.contact-carousel-item {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.recent-contacts .contact-image-placeholder,
.contact-image-placeholder {
  width: 56px;
  height: 56px;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
}

.contact-image-placeholder {
  width: 70px;
  height: 70px;
}

.contact-name {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.price-alert-notification-bell {
  text-align: center;
  margin: 25px 0;
}

.price-alert-notification-bell svg {
  height: 90px;
}

.price-alert-sms-consent span {
  font-size: 14px;
  color: #94959b;
}

.price-alert-currency {
  text-align: right;
  margin-bottom: 5px;
}

.price-alert-currency span {
  color: #7a869a;
  background: #e8f1ff;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.price-alert-currency span.active {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

/* Buy Form */

.dailog-action-picker {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 40px 0;
}

.dailog-action-picker>div {
  padding: 25px 35px;
  border: 1px solid #edf2f7;
  border-radius: 12px;
  margin: 0 10px;
  cursor: pointer;
  width: 130px;
}

.dailog-action-picker>div:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

.dailog-action-picker .icon-holder {
  background: white;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}

.max-amount-btn{
  background-color: white;
  color: var(--primaryColor);
  border: 0;
}

.amount-field {
  padding: 12px !important;
  border: 1px solid #edf2f7 !important;
  border-radius: 10px;
  outline: none;
}

.amount-field input {
  padding: 0 !important;
}

.amount-field .MuiSelect-standard {
  padding: 0;
  padding-right: 14px;
  padding-top: 2px;
}

.amount-field .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  margin-right: 20px;
  outline: none;
  font-size: 14px;
}

.currency-selector {
  /* padding: 0 !important; */
  border: 0 !important;
  font-size: 14px !important;
  color: #718096 !important;
}

.form-coin-wallet-balance {
  background: #1d38e4;
  margin-top: 30px;
  border-radius: 22px;
  padding: 15px 25px;
}

.form-coin-wallet-balance .balance-header {
  color: #f7f7f7;
  font-weight: 400;
  font-size: 13.5891px;
}

.form-coin-wallet-balance .content {
  display: flex;
  margin-top: 5px;
}

.form-coin-wallet-balance .content .fiat-balance {
  display: flex;
  flex-grow: 1;
}

.form-coin-wallet-balance .content .fiat-balance .naira-balance {
  color: #fefefe;
  font-weight: 700;
  font-size: 16px;
}

.form-coin-wallet-balance .content .fiat-balance .usd-balance {
  color: #f7f7f7;
  font-weight: 400;
  font-size: 13px;
}

.form-coin-wallet-balance .content .coin-balance {
  color: #eaedfd;
  font-weight: 700;
}

.transaction-confirmation .heading {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.transaction-confirmation .content {
  margin-top: 20px;
}

.transaction-confirmation .content svg {
  height: 80px;
  width: 80px;
}

.transaction-details-heading {
  font-weight: 800;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.transaction-details .data .item {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.transaction-details .data .item .title {
  color: #718096;
}

.transaction-details .data .item .value {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.pin-field {
  width: 40px;
  height: 40px;
  margin: 0 5px !important;
  display: inline-block !important;
}

.MuiDialog-paperFullScreen {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dashbord-right-dialog-content,
.dashbord-right-dialog {
  background-color: var(--secondaryColor);
}

.dashbord-right-dialog-content {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.dashbord-right-dialog-header {
  padding: 0 25px;
  margin-top: 30px;
}

.dashbord-right-dialog-header .close-dialog {
  text-align: right;
}

.dashbord-right-dialog-header .close-dialog button {
  background-color: var(--secondaryColor);
  border: 0;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4.77778px 9.55556px rgba(0, 0, 0, 0.1);
}

.dashbord-right-dialog-header .title {
  font-weight: 800;
  font-size: 28px;
  margin-top: 20px;
}

.dashbord-right-dialog-header .title span {
  text-transform: uppercase;
}

.dashbord-right-dialog-inner-content {
  padding: 30px;
}

.portfolio-balance-card {
  border: 1px solid var(--primaryColor);
  border-radius: 22px;
  padding: 25px;
  background-image: url("/images/bitcoin-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.portfolio-balance-card .coin-details {
  display: flex;
}

.portfolio-balance-card .coin-details svg {
  height: 60px;
  width: 50px;
}

.portfolio-balance-card .coin-details .coin-name {
  font-size: 17px;
  display: flex;
  margin-left: 10px;
  align-self: center;
  color: #23262f;
  opacity: 0.4;
}

.portfolio-balance-card .balance {
  margin-top: 10px;
}

.portfolio-balance-card .balance .naira-fiat {
  color: #23262f;
  font-weight: 600;
  font-size: 25.2899px;
}

.portfolio-balance-card .balance .usd-fiat {
  color: #a4a6aa;
  display: flex;
  align-self: center;
}

.portfolio-balance-card .balance .percentage-increase {
  border-radius: 17px;
  color: var(--secondaryColor);
  padding: 5px 15px;
}

.portfolio-balance-card .balance .percentage-increase.green {
  background: #0abe64;
}

.dashbord-right-dialog-inner-content .rate {
  border: 1px solid #ececec;
  border-radius: 22px;
  margin-top: 20px;
  padding: 15px 20px;
}

.dashbord-right-dialog-inner-content .rate .coin {
  color: #718096;
  font-weight: 500;
  font-size: 12px;
}

.dashbord-right-dialog-inner-content .rate .conversion {
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
}

.dashbord-right-dialog-inner-content .ctas {
  text-align: center;
}

.dashbord-right-dialog-inner-content .ctas button {
  background: #ffffff;
  box-shadow: 0px 11.5916px 28.9791px #f1f4f6;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dashbord-right-dialog-inner-content .ctas .cta-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
}

.dashbord-right-dialog-footer {
  text-align: center;
  margin-top: 20px;
}

.portfolio-receive-address {
  background-color: var(--primaryColor);
  border-radius: 20px;
  padding: 50px 20px;
  text-align: center;
}

.portfolio-receive-address .title {
  color: var(--secondaryColor);
  font-weight: 600;
  font-size: 18.8413px;
}

.portfolio-receive-address .address-barcode {
  background-color: var(--secondaryColor);
  padding: 10px;
  border-radius: 22px;
  margin: 20px auto;
}

.portfolio-receive-address .coin-select {
  background-color: var(--secondaryColor);
  border-radius: 22px;
  width: 100%;
}

.receive-wallet-address {
  padding: 20px;
  border: 1px solid #edf2f7;
  border-radius: 16px;
}

.receive-wallet-address .address-barcode {
  text-align: center;
  border-bottom: 1px solid #edf2f7;
}

.wallet-receive-address-clipboard {
  padding: 10px 0;
}

.wallet-receive-address-clipboard .title {
  font-family: 800;
  font-size: 20px;
}

.wallet-receive-address-clipboard .copy button {
  background: none;
  padding: 0;
  border: 0;
  outline: none;
}

.wallet-receive-address-clipboard .copy {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.wallet-receive-address-clipboard .copy svg {
  width: 17px;
}

.wallet-address-clipboard {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 12px;
  display: flex;
  margin-top: 15px;
}

.wallet-address-clipboard .address {
  display: flex;
  padding: 14px 18px;
  flex-grow: 1;
  align-self: center;
}

.wallet-address-clipboard .copy {
  border-left: 1px solid var(--primaryColor);
  padding: 10px;
  display: flex;
  margin-left: 15px;
}

.wallet-address-clipboard .copy button {
  padding: 5px;
  outline: none;
  background: none;
  border: 0;
}

.dashbord-right-dialog-inner-content .form-container {
  border: 1px solid #edf2f7;
  padding: 40px 15px;
  border-radius: 18px;
}

.dashbord-right-dialog-inner-content .form-container .amount-field input::placeholder,
.dashbord-right-dialog-inner-content .form-container .amount-field input {
  color: #1a202c !important;
  font-size: 24px;
  font-weight: 800;
}

.dashbord-right-dialog-inner-content .form-container .amount-field-box {
  border: 1px solid var(--primaryColor);
  padding: 16px;
  border-radius: 12px;
}

.dashbord-right-dialog-inner-content .form-container .amount-field-box .label {
  color: #718096;
  font-weight: 500;
  font-size: 13px;
}

.dashbord-right-dialog-inner-content .form-container .amount-field-box .currency {
  font-weight: 800;
  font-size: 24px;
  margin-right: 2px;
}

.dashbord-right-dialog-inner-content .form-container .amount-field-box .currency.blue {
  color: var(--primaryColor);
}

.dashbord-right-dialog-inner-content .form-container .currency-picker button {
  background: #e8edff;
  color: var(--primaryColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 13px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 0 2px;
  border: none;
}

.dashbord-right-dialog-inner-content .form-container .currency-picker button.usdt {
  font-size: 12px;
}

.dashbord-right-dialog-inner-content .form-container .currency-picker button.active {
  border: 1px solid var(--primaryColor);
}

.market-table {
  border: 0.974199px solid #edf2f7;
  border-radius: 7.79359px;
  background: var(--secondaryColor);
  padding: 25px;
}

.market-table .coin-pair {
  color: #2e2c34;
  display: inline-block;
  margin: 0 8px;
}

.market-table .coin-pair span {
  color: #2e2c34;
  opacity: 0.5;
}

.martket-data-filter button {
  background: none;
  color: #a6a9b9;
  border: none;
  outline: none;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.martket-data-filter button.active {
  background: rgba(29, 56, 228, 0.15);
  color: var(--primaryColor);
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 20px;
}

.market-green {
  color: green;
}

.market-red {
  color: red;
}

.ui-custom-tab {
  background: #ffffff;
  border: 1px solid #ccd3dd;
  border-radius: 8px;
}

.ui-custom-tab .ui-custom-tab-header {
  display: flex;
}

.ui-custom-tab .ui-custom-tab-header div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 15px;
  color: #000000;
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
}

.ui-custom-tab .ui-custom-tab-header div.active {
  background: rgba(243, 243, 244, 0.7);
  color: var(--primaryColor);
}

.ui-custom-tab-content {
  padding: 20px;
}

.ui-option-picker {
  border: 1px solid var(--primaryColor);
  padding: 30px;
  border-radius: 12px;
}

.ui-option-picker .close {
  text-align: right;
}

.ui-option-picker .close button {
  background: none;
  outline: none;
  border: 0;
}

.ui-option-picker .content {
  margin-top: 30px;
}

.ui-option-picker .heading {
  color: #1a202c;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
}

.ui-option-picker .heading-note {
  color: #718096;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.ui-option {
  display: flex;
  box-shadow: 0px 5.19878px 51.9878px rgba(0, 0, 0, 0.06);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.ui-option.active {
  border: 1px solid var(--primaryColor);
}

.ui-option:not(:first-of-type) {
  margin-top: 25px;
}

.ui-option .title {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.add-money-currency-picker div {
  text-align: right;
  margin: 5px;
}

.add-money-currency-picker button {
  color: #7a869a;
  border: 1px solid #e8f1ff;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  outline: none;
  font-weight: 700;
}

.add-money-currency-picker button.active {
  background: #e8edff;
  border: 1px solid;
  color: var(--primaryColor);
}

.money-amount-field .currency,
.money-amount-field input,
.money-amount-field input::placeholder {
  color: var(--primaryColor) !important;
  font-size: 35px;
}

.money-amount-field .currency {
  margin-right: 5px;
}

.money-amount-field input {
  text-align: center;
}

.wallet-balance {
  text-align: center;
  margin-top: 25px;
}

.wallet-balance span {
  background: rgba(41, 114, 255, 0.1);
  padding: 8px 20px;
  color: #2972ff;
  font-size: 13px;
  border-radius: 8px;
}

.p2p-user {
  font-weight: 500;
  font-size: 16.5629px;
  line-height: 150%;
  margin-bottom: 20px;
  cursor: pointer;
}

.p2p-user.active {
  color: var(--primaryColor)
}

.deposit-note-header,
.deposit-note-footer {
  color: var(--primaryColor);
  font-style: normal;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
}

.deposit-note-footer {
  font-size: 15px;
}

.deposit-info {
  margin: 50px 0;
}

.deposit-info .title {
  font-weight: 400;
  font-size: 12.2991px;
  line-height: 140%;
  letter-spacing: 0.0125em;
  color: #94959B;
}

/* Settings */

.settings-complete-profile {
  padding: 24px;
  background-color: var(--primaryColor);
  border-radius: 16px;
  margin: 0 20px;
}

.settings-complete-profile .top {
  display: flex;
}

.settings-complete-profile .text {
  display: flex;
  flex-grow: 1;
}

.settings-complete-profile .text .heading {
  color: var(--secondaryColor);
  font-weight: 800;
  font-size: 15px;
}

.settings-complete-profile .text .heading-note {
  opacity: 0.6;
  color: var(--secondaryColor);
  font-size: 13px;
  margin-top: 10px;
}

.settings-complete-profile .bottom {
  margin-top: 15px;
}

.white-btn {
  color: var(--primaryColor);
  background: var(--secondaryColor);
  outline: none;
  border: 0;
  font-size: 14px;
  font-weight: 800;
  padding: 10px 25px;
  border-radius: 12px;
}

.white-btn:disabled {
  opacity: 0.8;
}

.settings-complete-profile .bottom button {
  width: 100%;
}

.settings-invite {
  padding: 15px;
  background-color: var(--primaryColor);
  margin: 15px 20px;
  border-radius: 16px;
  display: flex;
}

.settings-invite .text {
  color: var(--secondaryColor);
  display: flex;
  flex-grow: 1;
  padding: 0 10px;
}

.settings-invite .text .heading {
  font-size: 14px;
  font-weight: 800;
}

.settings-invite .text .heading-note {
  opacity: 0.8;
  margin-top: 3px;
  font-size: 11px;
}

.settings-invite .icon {
  display: flex;
  align-self: center;
}

.settings-tab {
  margin-top: 25px;
}

.settings-tab .tab {
  padding: 20px;
  display: flex;
  cursor: pointer;
}

.settings-tab .tab.active {
  background: #fafafa;
  border-left: 2px solid var(--primaryColor);
}

.settings-tab .tab .text {
  display: flex;
  flex-grow: 1;
  padding: 0 15px;
}

.settings-tab .tab .text .heading {
  font-size: 14px;
  font-weight: 800;
}

.settings-tab .tab .text .heading-note {
  font-size: 13px;
  margin-top: 5px;
  color: #718096;
}

.setting-page-header {
  font-size: 22px;
  color: #1a202c;
  font-weight: 800;
}

.setting-page-content {
  padding: 30px 0;
}

.settings-profile-details {
  margin-top: 30px;
  display: flex;
}

.settings-profile-details .profile-image-placeholder {
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  padding: 5px;
}

.settings-profile-details .profile-image-placeholder div {
  background-size: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.settings-profile-details .text {
  padding: 15px 28px 0 28px;
  justify-content: center;
}

.settings-profile-details .text .fullname {
  font-weight: 800;
  font-size: 27px;
}

.settings-profile-details .text .email {
  color: #718096;
  font-size: 13px;
  padding-left: 14px;
}

.avatar-btn {
  color: var(--primaryColor);
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;

}

.settings-form>div {
  margin-top: 20px;
}

.settings-list .list {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
}

.settings-list.big-padding .list {
  margin-bottom: 50px;
}

.settings-list .list .action a {
  background: #f7f5ff;
  color: #936dff;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;
  font-size: 500;
  width: 100px;
  display: inline-block;
  font-size: 14px;
}

.settings-list .text {
  display: flex;
  flex-grow: 1;
  padding-right: 15px;
}

.settings-list .text .heading {
  font-weight: 800;
  font-size: 16px;
}

.settings-list .text .heading-note {
  font-size: 13px;
  color: #718096;
  margin-top: 8px;
}

.banks-list .list {
  display: flex;
  border: 1px solid #edf2f7;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.banks-list .list .text {
  display: flex;
  flex-grow: 1;
}

.banks-list .list .text .heading {
  font-weight: 800;
  font-size: 13px;
}

.banks-list .list .text .heading-note {
  color: #1a202c;
  font-size: 12px;
  opacity: 0.4;
}

.banks-list .list .image .bank-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #edf2f7;
  background-position: center;
  background-repeat: no-repeat;
}

.delete-bank {
  text-align: center;
}

.delete-bank button {
  background: #fff2f2;
  border: 0;
  border-radius: 12px;
  color: #e71d36;
  font-weight: 400;
  padding: 8px 30px;
  opacity: 0.8;
  outline: none;
}

.support-tickets-list .list {
  background: #ffffff;
  box-shadow: 0px 1.35077px 5.40308px rgba(0, 0, 0, 0.1);
  border-radius: 21.6123px;
  padding: 18px 15px;
  margin-bottom: 20px;
  display: flex;
}

.support-tickets-list .list .text {
  display: flex;
  flex-grow: 1;
}

.support-tickets-list .list .status {
  display: flex;
  align-items: center;
  color: #757575;
}

.support-tickets-list .list .status .dot {
  margin-right: 4px;
  font-size: 18px;
}

.support-tickets-list .list .heading {
  font-weight: 500;
  font-size: 17.56px;
}

.support-tickets-list .list .heading-note {
  font-weight: 400;
  color: #757575;
  font-size: 13px;
}

.bvn-confirmation svg {
  width: 160px;
  height: 160px;
}

.bvn-confirmation .heading {
  font-size: 22.4465px;
  margin-bottom: 40px;
}

.mobile-settings-page-title {
  color: #718096;
  margin: 10px 0 20px 0;
  display: flex;
}

.settings-mobile-menu .MuiDialog-paperFullScreen {
  background-color: white !important;
}

.mobile-settings-page-title button {
  background-color: white;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #718096;
  position: relative;
  margin-right: 8px;
}

.mobile-settings-page-title button svg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%
}

.settings-container {
  padding: 0 5px;
}


/* Large screens */
@media (min-width: 992px) {
  input.pincode-input-text {
    width: 40px !important;
    height: 40px !important;
  }
}

/* Small screens */

@media (min-width: 576px) {}

/* Medium screen */
@media (min-width: 768px) {
  .page-content {
    width: 500px;
  }

  .page {
    padding: 80px 0;
  }

  .page-content .headline {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000b33;
  }

  .settings-container {
    padding: 0 15px;
  }
}

/* Large screens */
@media (min-width: 992px) {
  ::-webkit-scrollbar-thumb {
    background: #112291 !important;
    border-radius: 2px;
  }

  .header {
    width: calc(100% - 330px);
    padding: 20px;
    border-bottom: 1px solid #e2e8f0;
  }

  .dashoard-overview-banner .content {
    padding: 32px;
  }

  .header .profile-menu {
    background: #fafafa;
  }

  .header .profile-menu .profile-image {
    width: 30px;
    height: 30px;
  }

  .mobile-dashboard-page-title {
    display: none;
  }

  .mobile-settings-page-title {
    display: none;
  }

  .dashboard-inner-content {
    padding-top: 110px;
  }

  .dashboard-ctas {
    display: none;
  }

  .transaction-status {
    padding: 8px 18px;
    font-size: 14px;
  }

  .transaction-image-placeholder {
    width: 35px;
    height: 35px;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
  }

  .page-content {
    width: 550px;
  }

  .page-content form {
    background-color: var(--secondaryColor);
    padding: 70px 50px;
  }

  .page-content form .form-content {
    margin-top: 30px;
  }

  .dashboard-content {
    padding: 0 40px;
  }

  .side-bar {
    display: block;
  }

  .dashboard-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  .dashbord-right-dialog-content {
    position: fixed;
    right: 0;
    width: 490px;
    height: 100%;
    overflow: scroll;
  }

  .portfolio-receive-address .address-barcode,
  .portfolio-receive-address .coin-select {
    width: 280px;
  }

  .tss-qbo1l6-MUIDataTableToolbar-actions {
    display: block;
  }

  .settings-left {
    border-right: 1px solid #e2e8f0;
    padding: 0 !important;
  }
}